.container__post {
    padding: 10px;
}
.title {
    height: 10vh;
    border-bottom: dashed 2px #017fb9;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container__p {
    margin-bottom: 10px;
}