* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    padding-top: 60px;
    font-family: 'Courier New', Courier, monospace;
    background-color: skyblue;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 5em;
	color: transparent; 										
	background-color: #017fb9;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

$border: 2px solid #017fb9;
.container {
    min-height: 30vh;
    border: $border;
    padding-bottom: 30px;
    background-color:skyblue;
    border-radius: 20px;
    margin: 60px 30px;

}

.container__filter {
    min-height: 5vh;
    border-bottom: $border;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    input {
        margin-left: 2px;
    }
    div {
        padding: 10px;
        border-right: 2px solid #017fb9;
    }
    div:last-child {
        border-right: none;
    }
}

::-webkit-scrollbar { 
    display: none; 
}